
{% extends 'catalog/base.html' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}

    <!--Password Reset Confirm-->
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Réinitialisation du mot de passe</h2>
        <hr>
        <p>Entrez un nouveau mot de passe.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">Valider</button>
        </form>
    </div>

{% endblock %}
