
{% extends 'catalog/base.html' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block content %}

	<!--Reset Password-->
	<div class="container-fluid connection">
        <h2 class="font-weight-bold mt-3">Réinitialiser le mot de passe</h2>
     <hr>
     <p>Vous avez oublié votre mot de passe? Saisissez votre adresse email ci-dessous, nous vous enverrons les instructions à suivre pour en enregistrer un nouveau.</p>
     <form class="send-email" method="POST">
         {% csrf_token %}
         {{ password_reset_form }}
         <button class="btn btn-primary" type="submit">Envoyer</button>
     </form>
   </div>

{% endblock %}
