
{% extends 'catalog/base.html' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
	<!--Password reset sent-->
	<div class="container p-5">
        <h2 class="font-weight-bold mt-3">Demande de réinitialisation</h2>
          <hr>
          <p>Nous vous avons envoyé un email détaillant les instructions à suivre afin de changer votre mot de passe. Si un compte associé à cette adresse existe bien, vous recevrez cet email rapidement.<br>Si vous ne recevez pas cet email, assurez vous de bien avoir saisi l'adresse avec laquelle vous avez créé votre compte, et regardez dans vos spams.</p>
    </div>

{% endblock %}
